@import './../../common/constants';

.ordering {
    padding-top: 40px;
    @include container;

    &__title {
        text-align: center;
        color: $GRAY_1;
        @include font-h1-h2;
        @include title-line;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}
