mixin ordering(title, description)
    section.ordering.pt-88(id='ordering')
        h2.ordering__title=title
        .ordering__container
            +order-item({
                    number:"01",
                    title: 'Узнать стоимость забора', 
                    description: 'У нас честный подход: стоимость установки забора рассчитывается до начала работ. Никаких наценок в процессе – список работ и сумма фиксируются в договоре', 
                    image: require('@img/ordering/order_1.png')
                })
            +order-item({
                number:"02",
                title: 'Выезд замерщика', 
                description: 'Менеджер измерит длину, уточнит все Ваши пожелания, составит ТЗ, нарисует схему и оформит договор', 
                image: require('@img/ordering/order_2.png')
            })
            +order-item({
                number:"03",
                title: 'Комплектация забора', 
                description: 'После составления технического задания мы готовим материалы и акты приемки к ним.', 
                image: require('@img/ordering/order_3.png')
            })
        .ordering__container
            +order-item({
                number:"04",
                title: 'Монтаж забора', 
                description: 'Перед днем монтажа наш бригадир свяжется с Вами, уточнит детали проезда к участку и удобное время прибытия бригады, как правило это 8-9 утра', 
                image: require('@img/ordering/order_4.png')
            })
            +order-item({
                number:"05",
                title: 'Финал монтажа', 
                description: 'Вы тщательно осматриваете забор и принимаете работу при отсутствии дефектов. При обнаружении недочетов они немедленно', 
                image: require('@img/ordering/order_5.png')
            })
            +order-item({
                number:"06",
                title: 'Гарантийное обслуживание', 
                description: 'Срок гарантийного обслуживания составляет 2 года', 
                image: require('@img/ordering/order_6.png')
            })
            
        