mixin ordering(title, description)
    section.ordering.pt-88(id='ordering')
        h2.ordering__title.mb-48=title
        .mb-40
            +order-item(1, 'Знакомство с клиентом', 'Изучаем особенности вашего бизнеса, анализируем конкурентов для определения ключевых моментов и их дальнейшего воплощения на сайте.')
        .mb-40
            +order-item(2, 'Утверждение концепции проекта', 'Предоставляем прототип проекта с указанием основных разделов, вносим необходимые изменения. Выполняется расчет окончательной стоимости проекта.')
        .mb-40
            +order-item(3, 'Разработка и запуск сайта', 'Разрабатываем удобный и функциональный сайт, используя Ваш дизайн, или создавая дизайн с нуля, адаптируем и оптимизируем его для мобильных устройств, запускаем его в сети интернет.')
        .mb-40
            +order-item(4, 'Оплата за услуги', 'Выполняется расчет за проделанную работу.')
        .mb-40
            +order-item(5, 'Гарантийное обслуживание', 'После запуска проекта мы гарантируем техническое сопровождение сайта в течение года.')
        