mixin welcome-mobile(title, description)
    .welcome-mobile
        .welcome-mobile__container
            .welcome-mobile__title=title 
            .welcome-mobile__description=description
            .welcome-mobile__button
                +button('Связаться с нами', '#pricing')