@import './../../common/constants';

.welcome-mobile {
    @include container-mobile;
    background-image: url("/src/img/welcome/desktop_main.png");
    background-size: cover;
    display: flex;

    &__container{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__title {
        @include font-h4;
        color: $GRAY_2;
    }

    &__description {
        @include font-p2;
        color: $GRAY_2;
        margin-top: 64px;
        margin-bottom: 100px;
    }

}
