@import './../../common/constants';

.page404-mobile {
    height: calc(100vh - 450px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $GRAY_7;

    &__title {
        @include font-h4;
        text-align: center;
    }
}
