<template lwc:render-mode="light">
    <div class="lwc-radio-group">
        <div class="lwc-radio-group__label">{model.label}</div>
        <div class="lwc-radio-group__items">
            <template for:each={model.items} for:item="item">
                <c-radio-group-item
                    class="lwc-radio-group__item"
                    key={item.value}
                    onchange={handleItemChange}
                    item={item}></c-radio-group-item>
            </template>
        </div>
    </div>
</template>
