@import './../../common/constants';

.loader {
    width: 100px;
    height: 100px;
    border: solid 8px;
    border-color: $LS_YELLOW_1 $LS_YELLOW_1 transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading-bar-spinner 0.8s linear infinite;
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
