mixin faq(title)
    section.faq.mb-64.pt-88(id='faq')
        h2.faq__title.mb-48=title
        .faq__card
            .faq__card-item.faq__card-item_active
                h3.faq__card-item-title Кому подойдет одностраничный сайт
                .faq__card-item-description 
                    p.faq__card-item-description-value Одностраничный сайт подойдет для тех кто начинает свое дело. Это идеально подходит малому и среднему бизнесу, отличный инструмент для рекламных страниц.
            .faq__card-item
                h3.faq__card-item-title Стоимость одностраничного сайта
                .faq__card-item-description
                    p.faq__card-item-description-value Стоимость на одностраничный сайт может варьироваться от 300 рублей и достигать несколько тысяч. Это зависит от сложности и количества секций на странице.
            .faq__card-item
                h3.faq__card-item-title За какое время можно сделать одностраничный сайт
                .faq__card-item-description
                    p.faq__card-item-description-value В среднем это занимает 5-7 дней. Это зависит от сложности и количества секций на сайте.
            
            
        