@import './../../common/constants';

.faq {
    @include container;

    &__title {
        text-align: center;
        color: $GRAY_1;
        @include font-h1-h2;
        @include title-line;
    }

    &__card {
        border-radius: 24px;
        background-color: $GRAY_2;
    }

    &__card-item {
        border-top: 1px solid $GRAY_3;

        &:first-child {
            border-top: none;
        }

        &_active {
            .faq__card-item-title::after {
                transform: scale(-1);
            }
            .faq__card-item-description {
                height: initial;
            }
        }
    }

    &__card-item-title {
        @include font-h4;
        color: $GRAY_1;
        padding: 14px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:after {
            content: '';
            display: inline-block;
            transition: all 0.3s;
            width: 24px;
            height: 24px;
            background: url('./../../img/icons/arrow.svg') no-repeat;
            background-size: contain;
        }
    }

    &__card-item-description {
        overflow: hidden;
        height: 0;
        transition: height 0.3s;
    }

    &__card-item-description-value {
        padding-bottom: 32px;
        padding-left: 24px;
        color: $GRAY_1;
        @include font-p2;
    }
}
