@import './../../common/constants';

.order-item {
    display: flex;
    background-color: $GRAY_2;
    width: 33.333%;

    &__card {
        margin: 48px 40px 40px 0px;
        background-color: $GRAY_2;
        flex-grow: 1;
        text-align: left;
    }

    &__number {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: $GREEN_1;
        @include font-h5;
        color: $GRAY_2;
    }

    &__icon {
        margin-bottom: 40px;
    }

    &__title {
        text-align: left;
        color: $GRAY_1;
        @include font-h3;
        margin-bottom: 24px;
    }

    &__description {
        @include font-p2;
        color: $GRAY_1;
    }
}
