mixin order-item(number, title, description)
    .order-item
        .order-item__number=number
        .order-item__card
            h3.order-item__title.mb-16=title
            p.order-item__description=description
        