// COLORS START:
$GRAY_1: #282828;
$GRAY_2: #FFFFFF;
$GRAY_3: #AFAFAF;
$GRAY_4: #c5c5c5;
$GRAY_5: #4C5B5C;
$GRAY_6: #E4E4E4;
$GRAY_7: #f0f3f3;

$GREEN_1: #019d38;
$GREEN_2: #01371D;
$GREEN_3: #016435;
$GREEN_4: #006436;
// COLORS END;

// TITLES START

@mixin font-h1-h2 {
    font: 700 36px/1.2 Montserrat;
}

@mixin font-h3 {
    font: 600 18px/1.2 Montserrat;
}

@mixin font-h4 {
    font: 700 24px/1.2 Montserrat;
}

@mixin font-h5 {
    font: 400 25px/1.2 Montserrat;
}

@mixin font-h6 {
    font: 600 14px/1.2 Montserrat;
}

@mixin font-p1 {
    font: 400 14px/1.2 Montserrat;
}

@mixin font-p2 {
    font: 400 16px/1.2 Montserrat;
}

@mixin font-p3 {
    font: 400 12px/1.2 Montserrat;
}

@mixin font-p4 {
    font: 400 20px/1.2 Montserrat;
}

// TITLES END

// CONTAINER START:
@mixin container() {
    width: 1204px;
    margin-left: auto;
    margin-right: auto;
}
@mixin container-mobile() {
    padding-left: 12px;
    padding-right: 12px;
}
// CONTAINER END;
