@import './../../common/constants';

.page404 {
    height: calc(100vh - 407px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $GRAY_7;

    &__title {
        @include font-h1-h2;
        text-align: center;
    }
}
