include ./../../common/mixins
doctype html
html
    head
        +meta()
    body
        +header(true)
        +welcome()
        +products()
        +ordering('Этапы сотрудничества')
        +pricing('Стоимость сайта')
        +faq('Вопрос-ответ')
        +footer()