include ./../../common/mixins
doctype html
html
    head
        +meta()
        script. 
            var projects = 'Hello world';
    body
        +header(true)
        +welcome()
        +projects()
        +ordering('Этапы сотрудничества')
        +pricing('Стоимость сайта')
        +faq('Вопрос-ответ')
        +footer()