include ./../../common/mixins
- var projects = JSON.stringify(require(`./../projects.json`));

doctype html
html
    head
        +meta()
        script. 
            var projects = !{projects}
    body
        +header(true)
        +welcome()
        +projects()
        +ordering('Этапы сотрудничества')
        +pricing()
        +faq('Вопрос-ответ')
        +footer()