include ./../../common/mixins
doctype html
html
    head
        +meta()
    body
        +header(true)
        +welcome('Разработка одностраничного сайта', 'Мы предлагаем разработку одностраничного сайта любой сложности по низким ценам с гарантией технической поддержки в течении года')
        +products()
        +ordering('Порядок сотрудничества')
        +pricing('Стоимость сайта')
        +faq('Вопрос-ответ')
        +footer()