mixin header-mobile()
    header.header-mobile
        .header-mobile__container
            a(href="/", class="header-mobile__logo") Lightning Soft
            .header-mobile__menu
                img(width="24", height="24", src=require('@img/icons/menu.svg'), alt="Меню", class='header__menu-icon')
        .header-mobile__navigation 
            .header-mobile__navigation-top
                a(href="/", class="header-mobile__logo") Lightning Soft
                .header-mobile__close
                    img(width="24", height="24", src=require('@img/icons/close.svg'), alt="Закрыть", class='header__close-icon')
            .header-mobile__navigation-bottom
                nav.header-mobile__navigation-bottom-menu 
                    a(href="#products" class="header-mobile__navigation-bottom-menu-item") Наш продукт
                    a(href="#ordering" class="header-mobile__navigation-bottom-menu-item") Порядок сотрудничества
                    a(href="#pricing" class="header-mobile__navigation-bottom-menu-item") Стоимость сайта
                    a(href="#faq" class="header-mobile__navigation-bottom-menu-item") Вопрос-ответ
                .header-mobile__navigation-bottom-calls 
                    a(id="header-phone" href="tel:375295558386" class="header-mobile__navigation-bottom-phone") +375 29 555 83 86
                    a(target="_blank" href="https://t.me/zanko_av" class="header-mobile__telegram")
                        img(id="header-telegram" width="24", height="24", src=require('@img/icons/telegram.svg'), alt="telegram", class='header__telegram-icon')


