@import './../../common/constants';

.header-mobile {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $GRAY_2;
    border-bottom: 1px solid $GRAY_3;
    overflow: hidden;

    &__container {
        @include container-mobile;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__container-left{
        display:flex;
        align-items: center;
    }

    &__logo-title {
        @include font-h3;
        color: $GREEN_4;
    }

    &__logo-image {
        margin-right: 16px;
    }

    &__navigation {
        background-color: rgba($GRAY_3, 0.75);
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        transition: left 0.3s;

        &_active {
            left: 0;
        }
    }

    &__navigation-top {
        background-color: $GRAY_2;
        border-bottom: 1px solid $GRAY_3;
        @include container-mobile;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation-bottom {
        background-color: $GRAY_2;
        @include container-mobile;
        padding: 18px 40px 24px;
    }

    &__navigation-bottom-menu {
        margin-bottom: 80px;
    }

    &__navigation-bottom-calls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation-bottom-phone {
        @include font-p3;
        color: $GRAY_1;
    }

    &__navigation-bottom-menu-item {
        @include font-p3;
        color: $GRAY_1;
        display: block;
        border-bottom: 1px solid $GRAY_3;
        padding: 6px 0;

        &:last-child {
            border-bottom: none;
        }
    }
}
