@import './../../common/constants';

.welcome {
    @include container;
    text-align: center;

    &__title {
        @include font-h1;
    }

    &__description {
        @include font-p1;
        max-width: 612px;
        margin-left: auto;
        margin-right: auto;
    }

    &__icon {
        margin-left: auto;
        margin-right: auto;
    }
}
