@import './../../common/constants';

.welcome{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    background-image: url("/src/img/welcome/desktop_main.png");
    background-size: cover;
    flex-direction: column;

    &__container{
        display:flex;
        width: 550px;
        height: 276px;
        margin-top: 92px;
        margin-bottom: 92px;
        align-items:center;
        justify-content:center;
        flex-direction: column;
    }

    &__title{
        @include font-h1-h2;
        color: $GRAY_2;
        margin-bottom: 64px;
    }
    &__description{
        @include font-p2;
        color: $GRAY_2;
        margin-bottom: 32px;
    }
    
}
