mixin welcome()
    .welcome
        .welcome__container
            .welcome__img
            .welcome__title Заборы из сетки-рабицы с установкой под ключ 
            .welcome__description Мы предлагаем большой выбор заборов по оптимальной цене с выгодными условиями.
            +button('Связаться с нами', '#pricing') 