mixin footer-mobile
    footer.footer-mobile
        .footer-mobile__top 
            .footer-mobile__top-container
                .mb-20
                    a.footer-mobile__logo(href="/") Lightning Soft
                .footer-mobile__phone-wrapper
                    a.footer-mobile__phone(id="footer-phone" href="tel:80295558386") 8 029 555-83-86
                .footer-mobile__phone-label.mb-20 Для звонков по Беларуси
                a(target="_blank" href="https://t.me/zanko_av" class="footer-mobile__telegram")
                    img(id="footer-telegram" width="24", height="24", src=require('@img/icons/telegram-gray.svg'), alt='telegram',  class='footer-mobile__telegram-icon')
        .footer-mobile__bottom
            .footer-mobile__bottom-container
                .footer-mobile__bottom-copy © 2020—2023, ООО «Лайтнинг Софт»
                