@import './../../common/constants';

.footer {
    &__top {
        background-color: $GREEN_3;
    }

    &__top-container {
        @include container;
        padding: 40px 0 32px;
    }

    &__top-title {
        text-align: center;
        color: $GRAY_2;
        @include font-h1-h2;
    }

    &__top-items {
        display: flex;
        justify-content: space-between;
    }

    &__top-item-info {
        display: flex;
        align-items: center;
    }

    &__top-item-info-label {
        @include font-h4;
        color: $GRAY_2;
        display: flex;
        align-items: center;
    }

    &__top-item-info-phone {
        color: $GRAY_2 !important;
    }

    &__top-item-info-icon {
        margin-right: 16px;
    }

    &__top-item-info-name {
        @include font-p3;
        color: $GRAY_3;
        margin-left: 20px;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: $GRAY_3;
            border-radius: 2px;
            margin-right: 20px;
        }
    }

    &__bottom {
        background-color: $GREEN_2;
    }

    &__bottom-container {
        @include container;
        @include font-p1;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $GRAY_2;
    }
}
