@import './../../common/constants';

.input-field {
    &__input {
        padding: 16px 20px;
        @include font-p3;
        border-radius: 8px;
        background-color: $LS_BLUE_3;
        outline: none;
        width: 100%;
    }

    &__error-message {
        display: none;

        &_active {
            margin-left: 20px;
            font-size: 13px;
            display: block;
            text-align: left;
            color: $LS_RED_1;
            line-height: 1.75;
        }
    }
}
