mixin ordering-mobile(title, description)
    section.ordering-mobile.pt-88(id='ordering')
        h2.ordering-mobile__title.mb-32=title
        .mb-24
            +order-item-mobile(1, 'Знакомство с клиентом', 'Изучаем особенности вашего бизнеса, анализируем конкурентов для определения ключевых моментов и их дальнейшего воплощения на сайте.')
        .mb-24
            +order-item-mobile(2, 'Утверждение концепции проекта', 'Предоставляем прототип проекта с указанием основных разделов, вносим необходимые изменения. Выполняется расчет окончательной стоимости проекта.')
        .mb-24
            +order-item-mobile(3, 'Разработка и запуск сайта', 'Разрабатываем удобный и функциональный сайт, используя Ваш дизайн, или создавая дизайн с нуля, адаптируем и оптимизируем его для мобильных устройств, запускаем его в сети интернет.')
        .mb-24
            +order-item-mobile(4, 'Оплата за услуги', 'Выполняется расчет за проделанную работу.')
        +order-item-mobile(5, 'Гарантийное обслуживание', 'После запуска проекта мы гарантируем техническое сопровождение сайта в течение года.')
        