mixin order-item-mobile(number, title, description)
    .order-item-mobile
        .order-item-mobile__number=number
        .order-item-mobile__card
            h3.order-item-mobile__title.mb-16=title
            p.order-item-mobile__description=description
        