@import './../../common/constants';

.order-item-mobile {
    display: flex;
    @include container-mobile;
    flex-direction: column;

    &__number {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 0px;
        background-color: $GREEN_1;
        @include font-h5;
        color: $GRAY_2;
        position: relative;
        z-index: 1;
    }

    &__card {
        flex-grow: 1;
        text-align: center;
    }

    &__icon {
        margin: 0px 52px 24px 40px;
        object-fit: cover;
    }

    &__title {
        @include font-h3;
        color: $GRAY_1;
    }
    &__description {
        @include font-p3;
    }
}
