@import './../../common/constants';

.button {
    background: $GREEN_4;
    color: $GRAY_2;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px 24px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s;
    }

