@import './../../common/constants';

.header {
    background-color: $GRAY_2;
    height: 72px;
    display: flex;

    &__container {
        @include container;
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        align-items: center;
        height: 72px;
    }

    &__right {
        display: flex;
        align-items: center;
        height: 32px;
    }

    &__logo {
        @include font-h4;
        color: $GREEN_4;
    }
    &__logo-icon {
        margin-right: 44px;
        width: 56px;
        height: 56px;
    }

    &__menu {
        margin-left: 88px;
    }

    &__menu-item {
        @include font-p2;
        color: $GRAY_1;
        margin-right: 32px;
        transition: color 0.3s;

        &:hover {
            color: $GREEN_3;
            text-decoration-line: underline;
            text-decoration-color: $GREEN_3;
        }
    }

    &__phone {
        @include font-p2;
        color: $GRAY_1;
        margin-right: 20px;
    }

    &__phone-icon {
        margin-right: 20px;
        width: 32px;
        height: 32px;
    }

    &__ellipse-icon {
        margin-right: 20px;
    }
    &__name {
        @include font-p3;
        color: $GRAY_3;
    }
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 100;
    // width: 100%;
    // background-color: $GRAY_2;
    // border-bottom: 1px solid $GRAY_3;

    // &__container {
    //     @include container;
    //     height: 64px;
    //     display: flex;
    //     align-items: center;
    // }

    // &__logo {
    //     @include font-h1-h2;
    // }

    // &__menu {
    //     margin-left: 52px;

    //     &:hover .header__menu-item {
    //         color: $GRAY_3;
    //     }
    // }

    // &__menu-item {
    //     @include font-p3;
    //     margin-right: 24px;
    //     transition: color 0.3s;
    //     padding: 8px 0;

    //     &:hover {
    //         color: $GRAY_1 !important;
    //     }
    // }

    // &__phone {
    //     margin-left: auto;
    //     @include font-p4;
    // }

    // &__telegram {
    //     margin-left: 44px;
    //     display: flex;
    // }
}
