mixin header(showMenu)
    header.header
        .header__container
            a(href="/", class="header__logo") Lightning Soft
            if showMenu
                nav.header__menu 
                    a(href="#products" class="header__menu-item") Наш продукт
                    a(href="#ordering" class="header__menu-item") Порядок сотрудничества
                    a(href="#pricing" class="header__menu-item") Стоимость сайта
                    a(href="#faq" class="header__menu-item") Вопрос-ответ
            a(id="header-phone" href="tel:375295558386" class="header__phone") +375 29 555 83 86
            a(target="_blank" href="https://t.me/zanko_av" class="header__telegram")
                img(id="header-telegram" width="24", height="24", src=require('@img/icons/telegram.svg'),alt='telegram', class='header__telegram-icon')


