include ./../../common/mixins
doctype html
html
    head
        +meta()
    body
        +header-mobile() 
        +welcome-mobile('Заборы из сетки-рабицы с установкой под ключ', 'Мы предлагаем большой выбор заборов по оптимальной цене с выгодными условиями.')
        +products-mobile()
        +ordering-mobile('Порядок сотрудничества')
        +pricing-mobile('Стоимость сайта')
        +faq-mobile('Вопрос-ответ')
        +footer-mobile()