@import './../../common/constants';

.projects-mobile {
    background-color: $GRAY_7;
    padding: 40px 0;

    &__container {
        @include container-mobile;
    }

    &__title {
        @include font-h4;
        @include title-line;
        text-align: center;
    }
}
