mixin faq-mobile(title)
    section.faq-mobile.mb-64.pt-88(id='faq')
        h2.faq-mobile__title.mb-32=title
        .faq-mobile__card
            .faq-mobile__card-item.faq-mobile__card-item_active
                h3.faq-mobile__card-item-title Кому подойдет одностраничный сайт
                .faq-mobile__card-item-description
                    p.faq-mobile__card-item-description-value Одностраничный сайт подойдет для тех кто начинает свое дело. Это идеально подходит малому и среднему бизнесу, отличный инструмент для рекламных страниц.
            .faq-mobile__card-item
                h3.faq-mobile__card-item-title Стоимость одностраничного сайта
                .faq-mobile__card-item-description
                    p.faq-mobile__card-item-description-value Стоимость на одностраничный сайт может варьироваться от 300 рублей и достигать несколько тысяч. Это зависит от сложности и количества секций на странице.
            .faq-mobile__card-item
                h3.faq-mobile__card-item-title За какое время можно сделать одностраничный сайт
                .faq-mobile__card-item-description 
                    p.faq-mobile__card-item-description-value В среднем это занимает 5-7 дней. Это зависит от сложности и количества секций на сайте.
            
            
        